/* Regular customers */

.customers {
    padding: 94px 0px;
}

.customers__list {
    display: flex;
}

.customers__item {
    width: 170px;
    height: 92px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.customers__link {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--color-icons);
    border-radius: 4px;
    color: var(--color-icons);

    transition: color var(--time-func), border-color var(--time-func);

    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}

.customers__icon {
    fill: currentColor;
}
