/* Styles for header */

.header {
    position: relative;
}

.navigation,
.contacts {
    display: flex;
}

.navigation__list {
    display: flex;
    padding-left: 0;
    align-items: center;

    @include mq(mobile-only) {
        display: none;
    }
}

.header__container {
    display: flex;
    border-bottom: 1px solid #ECECEC;
}

.navigation__item,
.contacts__item {
    display: block;
    padding: 32px 0;
    margin: 0;
    
    color: currentColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    transition: color var(--time-func);
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}

.contacts {
    margin-left: auto;
    align-items: center;

    @include mq(mobile-only) {
        display: none;
    }

    @include mq(tablet-only) {
        display: block;
        padding: 15px 0;
    }
}

@include mq(desktop) {
    .contacts__item:first-child {
        margin-right: 50px;
    }
}

.navigation__link,
.contacts__link {
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.navigation__item:hover .navigation__link {
    color: var(--accent-color);
}

.navigation__item {
    position: relative;
}

.navigation__link.current {
    color: var(--accent-color);
}

.navigation__link.current::after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;

    position: absolute;
    left: 0;
    bottom: -1px;

    background-color: var(--accent-color);
}

.contacts__link {
    display: flex;
    align-items: center;

    color: var(--second-text-color);
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    .icon-close-mob-menu {
        display: none;
    }

    &.is-open .icon-close-mob-menu{
        display: block;
    }

    &.is-open .icon-open-mob-menu {
        display: none;
    }

    @include mq(mobile-only) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }

    @include mq(tablet) {
        display: none;
    }

}

    @include mq(tablet-only) {
    .contacts__item {
        font-size: 12px;
        line-height: 1.16;
        padding: 5px 0;
}
}