/* Styles for hero */

.hero {
    padding: 118px 0;
    
    background-color: var(--hero-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mainpage-img/main-bg_small.jpg);

    @include mq(retina) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mainpage-img/main-bg_small@2x.jpg);
    }

    @include mq(tablet) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mainpage-img/main-bg_middle.jpg);

        @include mq(retina) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mainpage-img/main-bg_middle@2x.jpg);
        }
    }

    @include mq(desktop) {
        padding: 200px 0;

        max-width: 1600px;
        max-height: 600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mainpage-img/main-bg_large.jpg);

        @include mq(retina) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mainpage-img/main-bg_large@2x.jpg);
        }
    }

}

.hero .title {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;

    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    
    @include mq(desktop) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}