/* Styles for peculiarities */

.peculiarities__group {
    @include mq(tablet) {
        display: flex;
        margin: -15px;
    }

    @include mq(tablet-only) {
        flex-wrap: wrap;
    }
}

.peculiarities__item {
    @include mq(mobile) {
        width: 100%;
    }

    @include mq(tablet) {
        flex-basis: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }
}

.peculiarities__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @include mq(mobile-only) {
        text-align: center;
    }
}

.peculiarities__text {
    color: var(--second-text-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.peculiarities__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;
    background-color: var(--bg-color-cards);
    margin-bottom: 30px;
    border-radius: 4px;
}