/* =======================
        Portfolio.html
======================= */


.list-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    @include mq(mobile-only) {
        justify-content: left;
        margin-bottom: 40px;
    }
}

@include mq(mobile-only) {
    .list-filter .item:nth-child(-n+3) {
        margin-bottom: 15px;
    }
}


.list-filter .item:not(:last-child) {
    margin-right: 8px;
}


.portfolio-group {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    @include mq(mobile-only) {
        justify-content: center;
    }
}

.portfolio-group .item {
        margin: 15px;

        @include mq(mobile-only){
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    

    @include mq(tablet) {
        flex-basis: calc((100% - 4 * 15px) / 2);
    }

    @include mq(desktop) {
        flex-basis: calc((100% - 6 * 15px) / 3);
    }
}


.portfolio-group .link {
    display: block;
    
    transition: box-shadow var(--time-func);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .text-overlay,
    &:focus .text-overlay {
        transform: translateY(-100%);
    }

    @include mq(tablet) {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}


.portfolio .subtext {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;

    @include mq(tablet) {
        flex-grow: 1;
    }

}

.portfolio .subtitle {
    margin-bottom: 4px;

    color: var(--main-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio .text {
    color: var(--second-text-color);

    line-height: 1.88;
    letter-spacing: 0.03em;
}

.card-overlay {
    position: relative;
    overflow: hidden;
}

.text-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);

    transition: transform var(--time-func);
}

.paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
